<div class="tabs row">
    <div class="col-xs-12 col-12 col-sm-7 col-md-7 ">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="mp4" aria-labelledby="mp4-tab">
                <table class="table table-bordered table-hover table-responsive-sm">
                         <tr><td colspan="3" align="left"><strong>Audio</strong></td></tr>
                        <tr>
                            <td> MP3 </td>
                           <td>83.95M</td>
                            <td class="text-center">
                                <a class='btn btn-sm btn-success' target='_blank' rel='nofollow' href='https://iflydown.instasaverpro.com?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DnW7L0FUNDZw&title=PRAZ+TEGUH+DAN+EBEL+KENAPA+CABUT+DARI+MAIN+HAKIM+SENDIRI%3F+KARENA+OMONGAN+NETIZEN%3F&id=nW7L0FUNDZw&ext=mp3&totalSize=88026593&note=128k&format=128k&thumbnail=https%3A%2F%2Fi.ytimg.com%2Fvi%2FnW7L0FUNDZw%2F0.jpg&dd=1&ref=https%3A%2F%2Fyt1ss.pro%2Fid135%2F&lang=id'    data-ftype="mp3" data-fquality="128"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg><span class='visible-md'>Download</span></a>
                           </td>
                       </tr>
                        <tr><td colspan="3" align="left"><strong>Video</strong></td></tr>
                        <tr>
                            <td>  720p (.mp4) <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
  <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
  <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
  <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
</svg> </td>
                            <td>261.94M</td>
                            <td class="text-center">
                                <a class='btn btn-sm btn-success'   target='_blank' rel='nofollow' href='https://iflydown.instasaverpro.com?url=https%3A%2F%2Frr3---sn-vgqsknzl.googlevideo.com%2Fvideoplayback%3Fexpire%3D1711246822%26ei%3Dhjn_ZYXLIaCSy_sP0qGUqAc%26ip%3D2605%253A6400%253A40%253Afb66%253Aa123%253Aad4f%253Af8de%253A1452%26id%3Do-AACoDXNhPeK5eXaqumUQAmvhpXaqCDxWLzHNCMhiHKYu%26itag%3D22%26source%3Dyoutube%26requiressl%3Dyes%26xpc%3DEgVo2aDSNQ%253D%253D%26mh%3D_F%26mm%3D31%252C26%26mn%3Dsn-vgqsknzl%252Csn-4g5edndl%26ms%3Dau%252Conr%26mv%3Dm%26mvi%3D3%26pl%3D48%26initcwndbps%3D14346250%26vprv%3D1%26svpuc%3D1%26mime%3Dvideo%252Fmp4%26cnr%3D14%26ratebypass%3Dyes%26dur%3D5439.088%26lmt%3D1705011865353791%26mt%3D1711224773%26fvip%3D3%26c%3DANDROID%26txp%3D5532434%26sparams%3Dexpire%252Cei%252Cip%252Cid%252Citag%252Csource%252Crequiressl%252Cxpc%252Cvprv%252Csvpuc%252Cmime%252Ccnr%252Cratebypass%252Cdur%252Clmt%26sig%3DAJfQdSswRgIhALwizdP7F5r_fRSoxtY_W7ZB14bEhcl8V5HSrih3xI45AiEAtWWMql4jfaO5hd4Bu5dPMMlzSJTdI3mXlq5wmqLJWoo%253D%26lsparams%3Dmh%252Cmm%252Cmn%252Cms%252Cmv%252Cmvi%252Cpl%252Cinitcwndbps%26lsig%3DALClDIEwRAIgNmDfvZLjcqlgu9ZBVi6Kp5rwdw9SCWbixpU8FCgUwBECIG4Q_cCPwDns3y_HGsSFOpnX8bkwQcJh3rbKDLSePT23%26title%3DPRAZ%2BTEGUH%2BDAN%2BEBEL%2BKENAPA%2BCABUT%2BDARI%2BMAIN%2BHAKIM%2BSENDIRI%253F%2BKARENA%2BOMONGAN%2BNETIZEN%253F&title=PRAZ+TEGUH+DAN+EBEL+KENAPA+CABUT+DARI+MAIN+HAKIM+SENDIRI%3F+KARENA+OMONGAN+NETIZEN%3F&thumbnail=https%3A%2F%2Fi.ytimg.com%2Fvi%2FnW7L0FUNDZw%2F0.jpg&dd=1&ref=https%3A%2F%2Fyt1ss.pro%2Fid135%2F&lang=id' data-ftype="mp4" data-fquality="128"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg><span class='visible-md'>Download</span></a>
                            </td>
                        </tr><tr>
                            <td>  360p (.mp4) <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
  <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
  <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
  <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
</svg> </td>
                            <td>260.2M</td>
                            <td class="text-center">
                                <a class='btn btn-sm btn-success'   target='_blank' rel='nofollow' href='https://iflydown.instasaverpro.com?url=https%3A%2F%2Frr3---sn-vgqsknzl.googlevideo.com%2Fvideoplayback%3Fexpire%3D1711246822%26ei%3Dhjn_ZYXLIaCSy_sP0qGUqAc%26ip%3D2605%253A6400%253A40%253Afb66%253Aa123%253Aad4f%253Af8de%253A1452%26id%3Do-AACoDXNhPeK5eXaqumUQAmvhpXaqCDxWLzHNCMhiHKYu%26itag%3D18%26source%3Dyoutube%26requiressl%3Dyes%26xpc%3DEgVo2aDSNQ%253D%253D%26mh%3D_F%26mm%3D31%252C26%26mn%3Dsn-vgqsknzl%252Csn-4g5edndl%26ms%3Dau%252Conr%26mv%3Dm%26mvi%3D3%26pl%3D48%26initcwndbps%3D14346250%26vprv%3D1%26svpuc%3D1%26mime%3Dvideo%252Fmp4%26gir%3Dyes%26clen%3D272843635%26ratebypass%3Dyes%26dur%3D5439.088%26lmt%3D1704998823756677%26mt%3D1711224773%26fvip%3D3%26c%3DANDROID%26txp%3D5538434%26sparams%3Dexpire%252Cei%252Cip%252Cid%252Citag%252Csource%252Crequiressl%252Cxpc%252Cvprv%252Csvpuc%252Cmime%252Cgir%252Cclen%252Cratebypass%252Cdur%252Clmt%26sig%3DAJfQdSswRgIhAP-E6YPjybWNhwurQhb8M-xYtooGenYoL3nU63x8lqt7AiEAnUhZVoGd5n7TojfZEB8Jd80_BTnwrgZthnkjs2IYJVI%253D%26lsparams%3Dmh%252Cmm%252Cmn%252Cms%252Cmv%252Cmvi%252Cpl%252Cinitcwndbps%26lsig%3DALClDIEwRAIgNmDfvZLjcqlgu9ZBVi6Kp5rwdw9SCWbixpU8FCgUwBECIG4Q_cCPwDns3y_HGsSFOpnX8bkwQcJh3rbKDLSePT23%26title%3DPRAZ%2BTEGUH%2BDAN%2BEBEL%2BKENAPA%2BCABUT%2BDARI%2BMAIN%2BHAKIM%2BSENDIRI%253F%2BKARENA%2BOMONGAN%2BNETIZEN%253F&title=PRAZ+TEGUH+DAN+EBEL+KENAPA+CABUT+DARI+MAIN+HAKIM+SENDIRI%3F+KARENA+OMONGAN+NETIZEN%3F&thumbnail=https%3A%2F%2Fi.ytimg.com%2Fvi%2FnW7L0FUNDZw%2F0.jpg&dd=1&ref=https%3A%2F%2Fyt1ss.pro%2Fid135%2F&lang=id' data-ftype="mp4" data-fquality="128"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg><span class='visible-md'>Download</span></a>
                            </td>
                        </tr>
                   
                </table>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-12 col-sm-5 col-md-5">
      
            
            <img class="img-thumbnail" src="https://i.ytimg.com/vi/nW7L0FUNDZw/0.jpg" alt="Youtube downloader thumbnail"> 
                <div class="caption text-left">
                    <b>
                       <span id="video_title">PRAZ TEGUH DAN EBEL KENAPA CABUT DARI MAIN HAKIM SENDIRI? KARENA OMONGAN NETIZEN?</span>
                    </b>
                <p class="m-b-0 m-t">Duration: 1:30:39</p>
          
     
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<input type="hidden" data-id="nW7L0FUNDZw" data-extractor="youtube" data-service="youtube" id="video_status">
<script type="text/javascript">
 var k_data_vid = "nW7L0FUNDZw";
 var k_data_vtitle = "PRAZ TEGUH DAN EBEL KENAPA CABUT DARI MAIN HAKIM SENDIRI? KARENA OMONGAN NETIZEN?";
 var k__id = "";
 var video_service = "youtube";
 var video_extractor = "youtube";
</script>                    <script type="text/javascript">
                        function getDownloadHost(id) {
                            return "/mates/en/convert?id=" + id;
                        }
                        function getStatusHost(id) {
                             return "/mates/en/convert/status?id=" + id;
                        }
                    </script>