<div class="media-result">

    {{if .videoLinks}}

        {{$imageBaseUrl := .imageBaseUrl}} <!-- Store the outer variable for access inside the range -->
        {{$downloadBaseUrl := .downloadBaseUrl}}
            {{range .videoLinks}}
            <div class="result-box video" data-hid="instagram.com">
            <div class="thumb-box thumb-272 ">
                <a href="#" class="clip" data-player-id="video_player_1712268378061_3591">
                <img src="{{$imageBaseUrl}}?url={{encrypt .display_url}}" class="thumb">
                {{if .video_url}}
                <span class="play-btn"></span>
                {{end}}
                </a>
            </div>
            <div class="info-box">
                <div class="meta">
                <div class="row title" title="{{ .description }}">{{ .description }}</div>
                    {{if .date}}
                        <div class="row duration" title="">
                        {{.date}}
                        </div>
                    {{end}}
                </div>
                <div class="link-box single">
                    <div class="def-btn-box">
                        {{if .video_url}}
                        <a download="" class="link link-download ga_track_events download-icon" href="{{$downloadBaseUrl}}?vidurl={{encrypt .video_url}}&fullname={{ urlencode .username}}">Download Video</a>
                        {{else}}
                        <a download="" class="link link-download ga_track_events download-icon" href="{{$downloadBaseUrl}}?imgurl={{encrypt .display_url}}&fullname={{ urlencode .username}}">Download Photo</a>
                        {{end}}
                    </div><div class="drop-down-box">
                    </div><div class="def-file-info"></div>
                  </div>
            </div>
            </div>
        {{end}}
    {{end}}
    <div class=" sf-helper extra" data-href="/user.php?vid=312&amp;utm_source=savefrom&amp;utm_medium=vidacha&amp;utm_campaign=sf_helper&amp;utm_content=all-promo" data-ga-event="send;event;vidacha;helper-promo-click;all" style="">
      <div class="center">
        <img src="../assets/build/img/extension/icon_32.png" alt="">&nbsp; Kami menyarankan Anda memasang <a href="/user.php?vid=312&amp;utm_source=savefrom&amp;utm_medium=vidacha&amp;utm_campaign=sf_helper&amp;utm_content=all-promo" class="ga_track_events bold" target="_blank" data-ga-event="send;event;vidacha;helper-promo-click;all">ekstensi bantuan SaveFrom.net</a> untuk mengunduh dari <b>all popular websites</b> dengan&nbsp;1&nbsp;klik.
      </div>
    </div>
  </div>