{{$downloadBaseUrl := .downloadBaseUrl}}
<tr>
    <td>Watermark</td>
    <td>
        {{with $videoLink := videoLink . "watermarked"}}
            {{if $videoLink.filesize}}
                {{printf "%.1f MB" (div $videoLink.filesize 1048576)}}
            {{else if $videoLink.filesize_approx}}
                {{printf "~ %.1f MB" (div $videoLink.filesize_approx 1048576)}}
            {{else}}
                "~ MB"
            {{end}}
        {{end}}
    </td>
    <td>
        <div class="def-btn-box">
            {{ $wm_format := videoLink . "watermarked"}}

            <a class="link link-download subname download-icon" href="{{$downloadBaseUrl}}?link={{encrypt $wm_format.url}}&type=normal&author={{ .creator }}&format=mp4">Download</a>
        </div>
    </td>
</tr>
<tr>
    <td>No Watermark</td>
    <td>
        {{with $videoLink := videoLink . "nowatermarked"}}
            {{if $videoLink.filesize}}
                {{printf "%.1f MB" (div $videoLink.filesize 1048576)}}
            {{else if $videoLink.FilesizeApprox}}
                {{printf "~ %.1f MB" (div $videoLink.filesize_approx 1048576)}}
            {{else}}
                "~ MB"
            {{end}}
        {{end}}
    </td>
    <td>
        <div class="def-btn-box">
            {{ $nwm_format := videoLink . "nowatermarked"}}

            <a class="link link-download subname download-icon" href="{{$downloadBaseUrl}}?link={{encrypt $nwm_format.url}}&type=normal&author={{ .creator }}&format=mp4">Download</a>
        </div>
    </td>
</tr>

<tr>
    <td>MP3 Audio</td>
    <td>~ MB</td>
    <td>
        <div class="def-btn-box">
            <a class="link link-download subname download-icon" href="{{$downloadBaseUrl}}?musiclink={{encrypt .audio.uri}}&type=normal&author={{ .creator }}&format=mp3">Download</a>
        </div>
    </td>
</tr>
{{if .photos}}
    <tr>
        <td colspan="3">
            <h6 class="photos-separator">Photos</h6>
        </td>
    </tr>
    {{range .photos}}
        <tr>
            <td colspan="2">
                <img src="{{.url}}" alt="{{.url}}" style="width: 100%; height: 80%;">
            </td>
            <td style="vertical-align: middle;">
                <div class="def-btn-box">
                    <a title="video format: 720" class="link link-download subname download-icon" download="Scorpions - Believe In Love.mp4" data-quality="720" data-type="mp4" href="">Download</a>
                </div>
            </td>
        </tr>
    {{end}}
{{end}}