{{$downloadBaseUrl := .downloadBaseUrl}}
{{$webpage_url := .webpage_url}}
{{$fulltitle := .fulltitle}}
{{$id := .id}}
{{range .videoLinks}}
    <tr>
        <td>
            {{if and (eq .acodec "none") (ne .acodec "none")}}
                {{.height}}p (Video Only) (.{{.ext}})
            {{else if .height}}
                {{.height}}p (.{{.ext}})
            {{else if .Abr}}
                .{{.ext}} ({{.abr}} Kbps)
            {{else}}
                .{{.ext}} auto quality
            {{end}}
        </td>
        <td>{{if .filesize}}{{printf "%.1f MB" (div .filesize 1048576)}}{{else}}{{if .filesize_approx}}~ {{printf "%.1f MB" (div .filesize_approx 1048576)}}{{else}}~ MB{{end}}{{end}}</td>
        <td>
            <!-- <div class="def-btn-box">
                <a title="video format: 720"
                class="link link-download subname download-icon" 
                href="{{$downloadBaseUrl}}?link={{encrypt .format_id $id}}&fullname={{ urlencode $fulltitle}}"
                >Download</a>
            </div> -->
            <div class="def-btn-box">
                <a title="video format: 720"
                download="{{ .title }}.{{.ext}}"
                class="link link-download subname download-icon" 
                href="{{ .link }}"
                >Download</a>
            </div>
        </td>
    </tr>
{{end}}
