<% 
    const watermarked = videoData.formats.filter(item => item.format_note.includes('watermarked'));
    const sortedWatermarked = watermarked.sort((a, b) => b.filesize - a.filesize);
    const firstWatermarked = sortedWatermarked[0];
%>
<tr>
    <td>Watermark</td>
    <td><%=  firstWatermarked.filesize ? `${(firstWatermarked.filesize / (1024 * 1024)).toFixed(1)} MB` : firstWatermarked.filesize_approx ? `~ ${(firstWatermarked.filesize_approx / (1024 * 1024)).toFixed(1)} MB` : "~ MB" %></td>
    <td>
        <div class="def-btn-box">
            <a title="video format: 720" class="link link-download subname download-icon" download="Scorpions - Believe In Love.mp4" data-quality="720" data-type="mp4" href="">Download</a>
        </div>
    </td>
</tr>

<% 
    const nowatermarked = videoData.formats.filter(item => !item.format_note.includes('watermarked'));
    const sortedNoWatermarked = nowatermarked.sort((a, b) => b.filesize - a.filesize);
    const firstNoWatermarked = sortedNoWatermarked[0];
%>
<tr>
    <td>No Watermark</td>
    <td><%=  firstNoWatermarked.filesize ? `${(firstNoWatermarked.filesize / (1024 * 1024)).toFixed(1)} MB` : firstNoWatermarked.filesize_approx ? `~ ${(firstNoWatermarked.filesize_approx / (1024 * 1024)).toFixed(1)} MB` : "~ MB" %></td>
    <td>
        <div class="def-btn-box">
            <a title="video format: 720" class="link link-download subname download-icon" download="Scorpions - Believe In Love.mp4" data-quality="720" data-type="mp4" href="">Download</a>
        </div>
    </td>
</tr>

<tr>
    <td>MP3 Audio</td>
    <td>~ MB</td>
    <td>
        <div class="def-btn-box">
            <a title="video format: 720" class="link link-download subname download-icon" download="Scorpions - Believe In Love.mp4" data-quality="720" data-type="mp4" href="">Download</a>
        </div>
    </td>
</tr>
